@import "tailwindcss";

:root {
  
  --color-background: #F8F9FA;      
  --color-surface: #FFFFFF;         
  --color-surface-variant: #F1F3F5; 
  --color-primary: #006AFF;         
  --color-text: #212529;             
  --color-text-secondary: #6C757D;  
  --color-accent-positive: #28A745;  
  --color-accent-negative: #DC3545;  
  --color-accent-pending: #FFC107;   
  --color-border: #DEE2E6;           
}

.dark {
 
  --color-background: #282C35;
  --color-surface: #1A1C22;
  --color-surface-variant: #3A3F4A;
  --color-primary: #1FCB4F;
  --color-text: #E2E8F0;
  --color-text-secondary: #94A3B8;
  --color-accent-positive: #1FCB4F;
  --color-accent-negative: #F43F5E;
  --color-accent-pending: #FFC01E;
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: 'Outfit', sans-serif;
}


body::-webkit-scrollbar {
  display: none;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 14px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background-color: var(--color-surface);
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--color-text-secondary);
  border-radius: 6px;
  border: 3px solid var(--color-surface);
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-text);
}
.custom-scrollbar::-webkit-scrollbar-button {
  display: block;
  height: 12px;
}